In [4]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\nOriginal DataFrame:\n",info)
print("\nSquare root of DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum, axis=0))
print("\nSum of each row:\n",info.apply(np.sum, axis=1))

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square root of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [6]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

In [8]:
print("\nDataFrame.Assign function:\n")
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\nOriginal DataFrame:\n",d2)
print("\nAdding new column:\n",d2)
d=d2.assign(Sex=['Male','Male'])
print("\nAdding new column:\n",d)

DataFrame.Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

Adding new column:
     Emp   ID
0  Dale  123
1  Mark  143

Adding new column:
     Emp   ID   Sex
0  Dale  123  Male
1  Mark  143  Male

In [10]:
print("\nDataFrame.Sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\nSort index:\n",info2)
info3=info.sort_values(by='col3')
print("\nSort Values:\n",info3)

DataFrame.Sort function:

       col3      col4
3  0.086790 -1.390470
2 -0.174362 -0.064341
0  0.230356  0.657823
4  1.176701 -0.743367
1  0.519239  0.437383

Sort index:
        col3      col4
0  0.230356  0.657823
1  0.519239  0.437383
2 -0.174362 -0.064341
3  0.086790 -1.390470
4  1.176701 -0.743367

Sort Values:
        col3      col4
2 -0.174362 -0.064341
3  0.086790 -1.390470
0  0.230356  0.657823
1  0.519239  0.437383
4  1.176701 -0.743367

In [ ]:
print("\nDataFrame.Merge function:\n")
left=pd.DataFrame({'id':[1,2,3,45],'Name':['Alex